{% extends "base.html" %} 
{% block content %}
{% load static %}

<body>

  <main id="main">

    <section class="section pb-5">
      <div class="container">

        <div class="row mb-5 align-items-end">
          <div class="col-md-6" data-aos="fade-up">
            <h2>Contacto</h2>
            <p class="mb-0">Se adjuntan datos principales para contacto. Gracias.
            </p>
          </div>

        </div>

           <div class="col-md-4 ml-auto order-2" data-aos="fade-up">
            <ul class="list-unstyled">
              <li class="mb-3">
                <strong class="d-block mb-1">Dirección</strong>
                <span>Av. José Olaya Urb. Los Paramos B-18, Chimbote, Santa, Áncash.</span>
              </li>
              <li class="mb-3">
                <strong class="d-block mb-1">Celular</strong>
                <span>+51 972 745 321</span>
              </li>
              <li class="mb-3">
                <strong class="d-block mb-1">Email</strong>
                <span>nickiaasainez@gmail.com</span>
              </li>
            </ul>
          </div>

        </div>

      </div>

    </section>

  </main><!-- End #main -->


{% endblock %}  